vendor/
.idea/
.vscode
temp/*
app/config/config-local.php
logs/
.composer/
.env
.bash_history
data/

storage/*
public/css/
public/favicon.ico
public/img/
public/index.html
public/js/
public/fonts/
public/config.json